:root {
	--left-msg-bg: #eeeeee;
	--right-msg-bg: #6699fa;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

button {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

input[type="text"] {
	outline: none;
}

input[type="text"]::-moz-focus-inner {
	border: 0;
}

.messenger {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 867px;
	margin: 25px 10px;
	height: calc(100% - 50px);
	border-radius: 5px;
	box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.3);
}

.messenger-chat {
	flex: 1;
	overflow-y: auto;
	padding: 10px;
}

.messenger-chat::-webkit-scrollbar {
	width: 6px;
}

.messenger-chat::-webkit-scrollbar-track {
	background: #ddd;
	background-color: #fcfcfe;
}

.messenger-chat::-webkit-scrollbar-thumb {
	background: #bdbdbd;
}

.messenger-inputarea {
	display: flex;
	padding: 10px;
	background: #eee;
}

.messenger-inputarea * {
	padding: 10px;
	border: none;
	border-radius: 3px;
	font-size: 16px;
}

.messenger-input {
	flex: 1;
	background: #ddd;
}

.messenger-send-button {
	margin-left: 10px;
	background: rgb(0, 200, 85);
	color: #fee;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.3s;
}

.messenger-send-button:hover {
	background: rgb(0, 170, 40);
}

/* style for chat bubble */

.message {
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
}

.message-bubble {
	max-width: 450px;
	padding: 15px;
	border-radius: 15px;
	background: var(--left-msg-bg);
}

.message-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.message-info-name {
	margin-right: 10px;
	font-weight: bold;
}

.message-info-time {
	font-size: 14px;
}

.left-message .message-bubble {
	border-bottom-left-radius: 0;
}

.right-message {
	flex-direction: row-reverse;
}

.right-message .message-bubble {
	background: var(--right-msg-bg);
	color: #fff;
	border-bottom-right-radius: 0;
}
